/* standard top to bottom layout */
.k4Cfrm-wrapper.k4Cfrm-wrapper-top2bottom .heading { }

/* left to right layout, schaltet bei kleinen auflösungen auf top to bottom um */
@media screen and (min-width: 768px) {
	.k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .field {
	    display: inline-block;
	}
	.k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .field:after {
		clear: both;
	}
	.k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .heading {
		float: left;
		width: 30%;
	}
	.k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .heading label,
	.k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .heading .k4Cfrm-description{
	    margin-top: 5px;
	}
    .k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .heading label,
    .k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .heading .k4Cfrm-description,
    .k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .heading span {
	    float: right;
	    text-align: right;
	    margin-right: 20px;
	    width: 100%;
	}
	.k4Cfrm-wrapper.k4Cfrm-wrapper-left2right .input {
		float: left;
		width: 70%;
	}
}


.k4Cfrm-wrapper .field {
    padding-bottom: 20px;
    width: 100%;
}
.k4Cfrm-wrapper .heading, 
.k4Cfrm-wrapper .input {
    color:black;
    padding-bottom: 5px;
}

.k4Cfrm-wrapper .input * {
	color:black;
    font-size: 16px;
    width:100%;
}
.k4Cfrm-wrapper .k4Cfrm-description {
    display: block;
    font-size: 12px;
}
.k4Cfrm-wrapper .checkboxes .k4Cfrm-description {
	margin-left: 30px;
}
.k4Cfrm-wrapper .required .heading label:after,
.k4Cfrm-wrapper .required.checkboxes label:after,
.k4Cfrm-wrapper .required.radiobuttons .heading span:after,
.k4Cfrm-wrapper .required.dropdown .heading span:after  {
    margin-left: 3px;
    margin-top: 1px;
    content: "*";
}

.k4Cfrm-wrapper input[type='submit'] {
    border:1px solid darkblue;
    background: whitesmoke;
    cursor: pointer;
}
.k4Cfrm-wrapper input[type='text'],
.k4Cfrm-wrapper textarea {
    border:1px solid darkblue;
    background: whitesmoke;
}
.k4Cfrm-wrapper input[type='text']:focus,
.k4Cfrm-wrapper textarea:focus {
    background: lightgrey;
}
.k4Cfrm-wrapper input[type='text'] {
    height:30px;
    padding: 0 5px 0 5px;
} 
.k4Cfrm-wrapper textarea {
    height:100px;
    padding: 5px;
}
.k4Cfrm-wrapper    .radiobuttons label {
	display: block;
}
.k4Cfrm-wrapper    .checkboxes label > input[type='checkbox'],
.k4Cfrm-wrapper    .radiobuttons label > input[type='radio'] {
    width: 16px;
    height: 16px;
}
.k4Cfrm-wrapper    .checkboxes.checkboxgroup {
	margin-top: -20px;
}
.k4Cfrm-wrapper .checkboxes label > span.form-error {
    border: 0;
    float: right;
    margin-left:0;
    margin-top: 0;
    padding-left: 5px;
    width: 100%;
}
.k4Cfrm-wrapper .input .form-error {
    color:red;
}