{#
/**
 * k4 Clientform plugin for Craft CMS
 *
 * K4Clientform_K4ClientformFieldType HTML
 *
 * @author    Thomas Bauer, kreisvier communications ag
 * @copyright Copyright (c) 2016 Thomas Bauer, kreisvier communications ag
 * @link      http://www.kreisvier.ch
 * @package   K4Clientform
 * @since     0.9
 */
#}

{% import "_includes/forms" as forms %}
<div class="k4Cfrm-wrapper">
{{ forms.textareaField({
    id: id ~ 'k4Cfrm-frm',
    class: id ~ 'k4Cfrm-frm',
    name: name ~ '[k4CfrmField]',
    value: values.k4CfrmField,
    required: false,
}) }}
</div>

{% if currentUser.can('k4clientformSettings') %}
    <div class="k4Cfrm-wrapper-export">
    <b>export:</b> 
    <a target="_blank" href="/k4clientform/xls/{{ values.k4CfrmIdField }}">XLS</a> / 
    <a target="_blank" href="/k4clientform/csv/{{ values.k4CfrmIdField }}">CSV</a> / 
    <a target="_blank" href="/k4clientform/html/{{ values.k4CfrmIdField }}">HTML</a>
    </div>
    <br>
{% endif %}

<div class="k4Cfrm-wrapper" >
{{ forms.hidden({
    id: id ~ 'k4CIdfrm-frm',
    class: id ~ 'k4CIdfrm-frm',
    name: name ~ '[k4CfrmIdField]',
    value: values.k4CfrmIdField,
    required: false,
}) }}
</div>